# Core ML stack
tensorflow==2.20.0
jax==0.4.38
jaxlib==0.4.38
# ml-dtypes>=0.5.1,<1.0.0

# Updated
ml-dtypes==0.5.3
numpy>=2.1.0,<2.4.0

 # Compatible with TensorFlow, JAX, Streamlit, scikit-learn
#numpy==1.3.0
# numpy>=1.26.0,<1.27
setuptools==65.5.1


# Model and training utilities
flax==0.9.0
chex==0.1.87
dm-tree==0.1.8

# Streamlit and visualization
streamlit==1.47.1
altair==5.5.0
folium==0.20.0
distinctipy==1.3.4

# I/O and config
aiofiles==23.2.1
python-decouple==3.8

# ML tools
scikit-learn==1.4.2

# Optional: Logging and formatting
rich==13.7.1
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
